* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #8E060D;
    height: 100%;
    color: #fff;
    font-family: Courier, monospace;
    font-size: clamp(1rem, -1.164rem + 2.29vw, 2.5rem);
}

.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

a, li {
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
}

.nav-link {
    transition: 0.7s ease;
    font-size: clamp(0.875rem, -0.222rem + 1.16vw, 1.563rem);
}

.nav-item {
    margin-left: 15px;
}

.nav-link:hover {
    color: red;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 8%;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: right;
    width: 100%;
    right: 20px;
}

.toggle-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.logo {
    cursor: pointer;
}

h1 {
    color: red;
    font-size: clamp(1.375rem, -0.699rem + 2.19vw, 2.813rem);
    background-color: #FFFFFF;
}

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel .content {
    display: flex;
    flex-direction: column;
}

.panel .description {
    width: 55%;
    text-align: left;
    margin: auto;
}

.coords {
    text-align: right;
    color: #fff;
    font-size: clamp(0.75rem, 0.351rem + 0.42vw, 1rem);
    position: absolute;
    right: 20px;
    top: 76%;
}

.circle {
    margin-bottom: 40px;
    align-self: center;
    justify-self: center;
    font-size: 14px;
}

svg {
    fill: currentColor;
    height: auto;
    transform-origin: center;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}

.soc-nets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-nets li {
    display: inline-block;
}

.soc-nets img {
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 991px) {
    .panel .description {
        width: 70%;
    }
}

@media screen and (max-width: 810px) {
    .skewed .top {
        width: 0;
    }

    svg {
        height: 80px;
    }

    .coords {
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .panel .description {
        width: 80%;
    }

    .toggle-menu {
        display: block;
    }

    .toggle-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    menu {
        flex-direction: column;
    }

    .nav-item {
        margin: 16px 0;
        z-index: 3;
    }

    .menu.active {
        left: 0;
    }

    .body {
        font-size: 16px;
    }
}

@media  screen and (min-width: 1850px) {
    .nav-item {
        margin-left: 30px;
    }
    .soc-nets img {
        width: 80px;
        height: 80px;
    }
}